@using Microsoft.Ajax.Utilities
@model List<SocialWebsiteStudent.Models.Message>

@{
    ViewBag.Title = "Inbox";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>
    @Html.ActionLink("Nowa wiadomość", "CreateNewMessage")
</p>

<h2>Prywatne wiadomości</h2>

<table class="table">
    <tr>
        <th>
            Od:
        </th>

        <th>
            Ostatnia wiadomość:
        </th>

    </tr>

    @foreach (var item in Model.DistinctBy(x => x.FromUserName))
    {
        <tr>
            <td>
                @Html.ActionLink(item.FromUserName.ToString(), "ShowMessage", "Message", new {username = item.FromUserName}, null)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTimeOfMessage)
            </td>
        </tr>
    }

</table>