@model IEnumerable<SocialWebsiteStudent.Models.Post>

@{
    ViewBag.Title = "TagFoundResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TagFoundResult</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PostContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostDateTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PostContent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostDateTime)
        </td>
        <td>
        </td>
    </tr>
}

</table>
